<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTA_Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GTA_Utils.Properties.Settings>
            <setting name="GTALocation" serializeAs="String">
                <value />
            </setting>
            <setting name="GTALocationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuspendBind" serializeAs="String">
                <value />
            </setting>
            <setting name="RuleBind" serializeAs="String">
                <value />
            </setting>
            <setting name="SuspendModifier" serializeAs="String">
                <value />
            </setting>
            <setting name="RuleModifier" serializeAs="String">
                <value />
            </setting>
            <setting name="BlockBind" serializeAs="String">
                <value />
            </setting>
            <setting name="BlockModifier" serializeAs="String">
                <value />
            </setting>
        </GTA_Utils.Properties.Settings>
    </userSettings>
</configuration>